<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Equipos</title>
<link rel="stylesheet" href="scc/estilos.css">
</head>
<body>
<div id="contenedor">
		<div id="cabecera">
			<header>
				<h1>Liga de futbol profesional</h1>
			</header>
		
			<nav>
				<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="fixture.html">Fixture y resultado</a></li>
				<li><a href="equipos.html">Equipos</a></li>
				</ul>
			</nav>
		</div>		
		<section id="contenido">
			<div id="imgs">
			<img src="img/arsenal.jpg" width="200px" height="200px"/>
			<img src="img/arsenal.jpg" width="200px" height="200px"/>
			</div>
			<div id="texto">
			<p id="parrafo"> El 11 de enero de 1957, los hermanos Héctor y Julio Humberto Grondona (expresidente de la AFA)
			 fundaron el club junto a otros amigos, entre los cuales estaban: Roberto Estévez, Manuel Andrea,
			 Horacio Montero, Orlando Acosta, Juan Carlos Urtasún, Eloy de Medio, José M. Pérez, Francisco Ceferino,
			 Arnaldo Pardini, Julio César Marotti, José Berdía, Gabriel Blanco, José Bueno,
			 Américo Besada y Juan Emilio Elena. Además, ayudaron a formar la primera comisión directiva,
			 que tenía su origen en un grupo proveniente de la Asociación Cristiana de Jóvenes,
			 ubicada a algunas cuadras de la casa de la familia Grondona.
			 Su nombre proviene del Arsenal Football Club de Inglaterra. Su uniforme es celeste con una banda roja en diagonal;
			 dichos colores fueron elegidos para simbolizar la unión de los dos clubes hermanos más grandes de Avellaneda,
			 tomando un color representativo de cada uno de ellos y de River Plate la franja diagonal: el Club Atlético Independiente (rojo)
			 y el Racing Club (celeste). El 3 de marzo de 1961 Arsenal Fútbol Club paso a formar parte de la Asociación del Fútbol Argentino.</p>
			 <p id="parrafo"> El 11 de enero de 1957, los hermanos Héctor y Julio Humberto Grondona (expresidente de la AFA)
			 fundaron el club junto a otros amigos, entre los cuales estaban: Roberto Estévez, Manuel Andrea,
			 Horacio Montero, Orlando Acosta, Juan Carlos Urtasún, Eloy de Medio, José M. Pérez, Francisco Ceferino,
			 Arnaldo Pardini, Julio César Marotti, José Berdía, Gabriel Blanco, José Bueno,
			 Américo Besada y Juan Emilio Elena. Además, ayudaron a formar la primera comisión directiva,
			 que tenía su origen en un grupo proveniente de la Asociación Cristiana de Jóvenes,
			 ubicada a algunas cuadras de la casa de la familia Grondona.
			 Su nombre proviene del Arsenal Football Club de Inglaterra. Su uniforme es celeste con una banda roja en diagonal;
			 dichos colores fueron elegidos para simbolizar la unión de los dos clubes hermanos más grandes de Avellaneda,
			 tomando un color representativo de cada uno de ellos y de River Plate la franja diagonal: el Club Atlético Independiente (rojo)
			 y el Racing Club (celeste). El 3 de marzo de 1961 Arsenal Fútbol Club paso a formar parte de la Asociación del Fútbol Argentino.</p>
			</div>
		</section>	
		<aside id="auspiciantes">
			<h2>Auspiciantes</h2>
			<img src="img/adidas.png" width="200px" height="100px"/>
			<img src="img/descarga.png" width="200px" height="100px"/>
			<img src="img/bde86d87e19f6ee151676b79cd82062c.jpg" width="200px" height="100px"/>
		</aside>
		<footer>
			<div id="izquierda">
			<h4>Avenida Exodo San Salvador de Jujuy N_308 telf: 42-534-432</h4>
			</div>
			<div id="derecha">
			<a href="https://www.whatsapp.com"><img src="img/watsapp.jpg" width="25px" height="25px"/></a>
			<a href="https://www.facebook.com"><img src="img/facebook.png" width="25px" height="25px"/></a>
			<a href="https://www.instagram.com"><img src="img/instagram.jpeg" width="25px" height="25px"/></a>
			</div>
		</footer>
		</div>
</body>
</html>